<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="NegativeTests.NegativeTestsForCreateToken"/>
      <class name="NegativeTests.NegativeTestsForDeleteBooking"/>
      <class name="SecurityTests.SecurityTestsForBookingCreation"/>
      <class name="GetBookingIDList"/>
      <class name="PartialUpdateBooking"/>
      <class name="DeleteBooking"/>
      <class name="NegativeTests.NegativeTestsForUpdateBooking"/>
      <class name="NegativeTests.NegativeTestForGetBookingDetails"/>
      <class name="NegativeTests.NegativeTestsForGetBookingId"/>
      <class name="GetBookingDetails"/>
      <class name="NegativeTests.NegativeTestForBookingCreation"/>
      <class name="CreateBooking"/>
      <class name="SecurityTests.SecurityTestsForGetToken"/>
      <class name="GetToken"/>
      <class name="SecurityTests.SecurityTestForGetBookingDetails"/>
      <class name="UpdateBooking"/>
      <class name="SecurityTests.SecurityTestForDeleteBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
